body{
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.container{
    width: fit-content;
    height: fit-content;
    border: 5px solid black;
    border-radius: 15px;
    background-color: lightblue;
    padding: 20px 20px;
    text-align: center;
}

.picker{
    font-weight: bold;
}

